{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div id="header" style="padding-top: 20px">
    <h1>Strona główna</h1>
</div>

<div class="content" style="padding-right: 300px; padding-top: 50px">
    <p style="text-align: justify">Niniejsza strona jest kolejnym projektem związanym z moją samodzielną nauką w kierunku IT. Obecnie zgłębiam więdzę w zakresie języka Python oraz współpracujących
        z nim framework'ów. Pierwsze kroki stawiałam pisząc krótkie programy typu porównanie zmiennych, ciąg Fibonacciego czy szyfr Cezara, aby zapoznać się z samym językiem. Pierwszym większym
        projektem jest czat bot na Facebook'u, który zwraca wybrane wiadomości ze świata. W projekcie tym wykorzystany został język Python ora framework Flask.
    </p>
    <p>Niniejsza strona powstała przy użyciu języka Python, HTML oraz framework'u Django.</p>
</div>
{% endblock %}